<div  align="center">
  <h2 ng-bind="title" ng-style="{'color':'red','font-style':'italic'}">
  </h2>
  <div>
    <table border="1">
      <tr>
        <th>Image</th>
        <th>Details</th>
      </tr>
      <tr>
        <td><img width="50%" height="50%" ng-src="{{book.imgUrl}}"></td>
        <td>
          <div>Book ID      : {{book.bookId}}</div>
          <div>Book Title   : {{book.bookTitle}}</div>
          <div>Book Topic   : {{book.topic}}</div>
          <div>Book Author  : {{book.author}}</div>
          <div>Book Cost    : {{book.cost | currency:'Rs. '}}</div>
          <div>Issued       : {{book.issued}}</div>
          <input type="button" value="Issue Book" ng-disabled="i.issued" ng-click="issue(book.bookId)"></input>
        </td>
      </tr>
    </table>
  </div>
</div>
