  <!-- This is a partial page. have only the required code.-->
        
        <div  align="center">
        <h2>
         <!-- Bind the title 'Return Books' to the <h2> tag.
            Also give an inline style of italics and red color to the content of <h2> tag.
           -->
              
        </h2>             
                <div>
                    
                <table border="1">
                    <!--The table should have headings for its two columns: Image and Details.
                       Display corresponding image in first column. 
                        Image height and width should be 50%.
                        In second column should display book details.
                        Add a button 'Return Book' on click of which call return method by passing the bookId.
                    -->
                    
                    
                </table>
                </div>
    </div>
    