<!doctype html>
<html ng-app="MainModule">
    <head>
    <title>Angular Assignment</title>
<style type="text/css">
@import "styles/style.css";
        </style>
        <script src="lib/Angular/angular.js"></script>
        <script src="js/controllers.js"></script>
      <!-- code to include js file of custom services, filters -->
        <script src="js/customfilters.js"></script>
        <script src="js/customservices.js"></script>
        <script src="js/customdirectives.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body>
        <!--code to create Login template which will have the same login form
        created inside Login.html earlier -->
        <script type="text/ng-template" id="loginTemplate">
            <h2>
                Login
            </h2>

            <div class="LoginFormDiv" ng-controller="LoginCtrl">
                <table border="0">
                    <tr>
                        <td> Username </td>
                        <td>: <input  class="input" type="text" ng-model="name"/></td>
                    </tr>
                    <tr>
                        <td> Password</td>
                        <td>: <input  class="input" type="password" ng-model="pass"/></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="button" ng-click="validate()">Login</button>
                        </td>
                    </tr>
                </table>
            </div>
        </script>

        <script type="text/ng-template" id="studentTemplate">
            <div ng-include="'partials/ViewBooks_Student.html'"></div>
        </script>

        <script type="text/ng-template" id="librarianTemplate">
            <div ng-include="'partials/ViewBooks_Librarian.html'"></div>
        </script>

        <script type="text/ng-template" id="issueBookTemplate">
            <div ng-include="'partials/IssueBook.html'"></div>
        </script>

        <script type="text/ng-template" id="returnBookTemplate">
            <div ng-include="'partials/ReturnBook.html'"></div>
        </script>

        <script type="text/ng-template" id="addBookTemplate">
            <div ng-include="'partials/AddBook.html'"></div>
        </script>



    <center>
        <!--code to include header.html -->
        <div ng-include="'Header.html'"></div>

        <!--code to dynamically include the different views -->
        <div ng-view></div>

        <!--code to include footer.html -->
        <div ng-include="'Footer.html'"></div>
      </center>
</body>
</html>
