<!doctype html>

<html ng-app="libraryModule">
    <head>
        <title>Angular Assignment</title>
        <style type="text/css">
            @import "styles/style.css";
        </style>
        <script src="lib/Angular/angular.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body>
    <center>
        <div ng-include="'Header.html'"></div>
    </center>

    <div  align="center" ng-controller="BookListCtrl">
        <h2 ng-bind="title" ng-style="{'color':'red','font-style':'italic'}"></h2>
        <div>
            <label>Search books: </label><input type="text" ng-model="bookSrch">
        </div>
        <div>
            <label>Sort books: </label>
            <select ng-model="bookSort">
                <option value="">No Sort</option>
                <option value="cost">Cost</option>
                <option value="topic">Topic</option>
            </select>
        </div><br>
        <div>
            <table border="1">
                <tr class="LoginFormDiv">
                    <th>Sl. No.</th>
                    <th>Image</th>
                    <th>Details</th>
                </tr>
                <tr class="LoginFormDiv" ng-repeat="i in bookDetails | filter:bookSrch | orderBy:bookSort">
                    <td>{{$index+1}}</td>
                    <td><img width="50%" height="50%" ng-src="{{i.imgUrl}}"></td>
                    <td>
                        <div>Book ID     : {{i.bookId}}</div>
                        <div>Book Title  : {{i.bookTitle}}</div>
                        <div>Book Topic  : {{i.topic}}</div>
                        <div>Book Author : {{i.author}}</div>
                        <div>Book Cost   : {{i.cost | currency:'Rs.'}}</div>
                    </td>
                </tr>
            </table>
        </div>
        <br>
    </div>
    <div ng-include="'Footer.html'"></div>
</body>
</html>
