body
{
background-color:#EFFBFB;
}
header
{
background-color:#0101DF;
 color: white
}

footer
{
background-color:#0101DF;
 color: white
}
.button
{
border-radius:10px;
}
.input
{
border-radius: 10px;
}
.select
{
border-radius: 10px;

}
.LoginFormDiv
{
    Border-radius: 10px;
    background-color: #FAFAFA;
    width:40%;
    box-shadow: -1px -1px 2px 15px #FBFBEF;
    -webkit-box-shadow:-5px -5px 5px 9px #E6E6E6;
    -moz-box-shadow:0px 0px 3px 3px #FBFBEF;
}
.issuedClass
{
   background-color: green;
}
.highlight
{
	font-weight: bold,
	font-style: italic;
	color: red;
}
.css-form input.ng-invalid.ng-dirty {
	background-color: pink
}
.css-form input.ng-valid {
	background-color: green
}